body {
  background: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png');
}

div {
  background: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
}

h2 {
  background: url(http://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
}
