
html {
  background-color: green;
}

main {
  color: white;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRlc3QvZml4dHVyZXMvc291cmNlLW1hcHMtaW5saW5lL2luZGV4LmNzcyIsInRlc3QvZml4dHVyZXMvc291cmNlLW1hcHMtaW5saW5lL2xpYi9pbmRleC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7RUFDRTs7O0FDREY7RUFDRSIsInNvdXJjZXNDb250ZW50IjpbIlxuaHRtbCB7XG4gIGJhY2tncm91bmQtY29sb3I6IGdyZWVuO1xufVxuXG5AaW1wb3J0ICcuL2xpYic7XG4iLCJcbm1haW4ge1xuICBjb2xvcjogd2hpdGU7XG59XG4iXSwic291cmNlUm9vdCI6ImZpbGU6Ly9tYWtvIn0= */
